<div class="about-me-page">
  <div class="top-side">
    <div class="top-side-left">
      <div class="top-side-title handwriting-font">Hey, I'm Tolgahan</div>
      <div class="top-side-bio">
        <p>
          Hello, I am a passionate and motivated individual currently in my
          third year of studying Computer Engineering at Karabük University. My
          journey in the world of technology began with my fascination for
          computers at a young age. Over the years, this interest evolved into a
          deep passion for web development and front-end design.
        </p>
        <p>
          During my time at Karabük University, I have been fortunate to learn
          from some of the finest educators in the field of computer
          engineering. My coursework has equipped me with a solid foundation in
          programming languages such as HTML, CSS, and JavaScript. These
          languages have allowed me to explore the art of crafting visually
          appealing and user-friendly websites.
        </p>
        <p>
          As I progressed through my studies, I found myself drawn to the
          intricate world of front-end development. The ability to create
          interactive and engaging user interfaces, as well as the challenge of
          optimizing performance, captivates me. I have eagerly embraced
          opportunities to work on projects that showcase my skills in
          responsive design, animations, and creating seamless user experiences.
        </p>
        <p>
          Outside of academics, I have actively participated in coding clubs and
          hackathons, where I've collaborated with fellow enthusiasts to build
          creative solutions to real-world problems. This has sharpened my
          teamwork, problem-solving, and time-management skills.
        </p>
        <p>
          My goal is to combine my technical proficiency with my artistic
          inclination to become a proficient front-end developer. I believe that
          by combining innovation and creativity, I can contribute to crafting
          web experiences that leave a lasting impact on users.
        </p>
        <p>
          As I continue my journey at Karabük University and beyond, I am
          excited to explore new frontiers in web development, learn from
          industry leaders, and build a portfolio that reflects my dedication to
          this field. I am determined to excel in my studies, improve my coding
          skills, and ultimately become a sought-after front-end developer.
        </p>
        <p>
          Thank you for taking the time to learn about my journey. I am excited
          about the future that awaits me in the dynamic world of front-end
          development.
        </p>
      </div>
    </div>
    <div class="top-side-right">
      <i class="fa-solid fa-address-card"></i>
    </div>
  </div>
  <div class="bottom-side">
    <div class="languages bottom-card">
      <div class="languages-title">Languages I know</div>
      <div class="languages-list">
        <div class="languages-list-item">
          <i class="fa-brands fa-html5"></i>
          <span>HTML</span>
        </div>
        <div class="languages-list-item">
          <i class="fa-brands fa-css3-alt"></i>
          <span>CSS</span>
        </div>
        <div class="languages-list-item">
          <i class="fa-brands fa-css3-alt"></i>
          <span>JavaScript</span>
        </div>
        <div class="languages-list-item">
          <i class="fa-brands fa-css3-alt"></i>
          <span>TypeScript</span>
        </div>
        <div class="languages-list-item">
          <i class="fa-brands fa-css3-alt"></i>
          <span>Angular</span>
        </div>
        <div class="languages-list-item">
          <i class="fa-brands fa-css3-alt"></i>
          <span>Bootstrap</span>
        </div>
      </div>
    </div>

    <div class="thanks handwriting-font bottom-card">
      Thanks for visiting...
    </div>

    <div class="contact-me bottom-card">
      <div class="contact-me-title">Contact me</div>
      <div class="contact-me-links">
        <div class="contact-me-link-item">
          <a href="https://github.com/tolgahantom">
            <i class="fa-brands fa-github"></i>
          </a>
          <a href="https://github.com/tolgahantom">Github</a>
        </div>
        <div class="contact-me-link-item">
          <a href="https://www.linkedin.com/in/tolgahan-tom-7b5920277/">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a href="https://www.linkedin.com/in/tolgahan-tom-7b5920277/"
            >Linkedin</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
