<div class="detail-page">
  <div class="newdetail-popular">
    <div class="newdetail">
      <div class="newdetail-image">
        <img src="" alt="" />
      </div>
      <div class="newdetail-content">
        <div class="newdetail-title">
          News Needs to Meet Its Audiences Where They Are
        </div>
        <div class="newdetail-writer">
          <div class="newdetail-writer-image">
            <img src="" alt="" />
          </div>
          <div class="new-detail-writer-info">
            <div class="trending-content-writer">
              <span class="writer bold">Dave Rogers</span> in
              <span class="category bold">Food</span>
            </div>
            <div class="trending-news-timer">
              <div class="date">Jun 14</div>
              <i class="fa-solid fa-circle point"></i>
              <div class="read-time">3 min read</div>
              <i class="fa-solid fa-star timer-star"></i>
            </div>
          </div>
        </div>
        <div class="newdetail-content-text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
            optio consequatur voluptatem incidunt perspiciatis neque dolorem
            tempora consectetur, voluptas distinctio voluptates porro, dolor
            corrupti debitis consequuntur quasi. Quis, dolore veritatis.
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad dolore
            unde debitis mollitia modi eos, quasi, placeat atque exercitationem
            veniam repudiandae quod tenetur libero odit in quibusdam, ipsa fugit
            minus.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
            sint perspiciatis nemo error, illo est, quae eaque quo deleniti
            molestias qui nihil. Quod neque vitae eligendi explicabo repudiandae
            blanditiis ullam!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
            sint perspiciatis nemo error, illo est, quae eaque quo deleniti
            molestias qui nihil. Quod neque vitae eligendi explicabo repudiandae
            blanditiis ullam!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
            sint perspiciatis nemo error, illo est, quae eaque quo deleniti
            molestias qui nihil. Quod neque vitae eligendi explicabo repudiandae
            blanditiis ullam!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
            sint perspiciatis nemo error, illo est, quae eaque quo deleniti
            molestias qui nihil. Quod neque vitae eligendi explicabo repudiandae
            blanditiis ullam!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
            sint perspiciatis nemo error, illo est, quae eaque quo deleniti
            molestias qui nihil. Quod neque vitae eligendi explicabo repudiandae
            blanditiis ullam!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
            sint perspiciatis nemo error, illo est, quae eaque quo deleniti
            molestias qui nihil. Quod neque vitae eligendi explicabo repudiandae
            blanditiis ullam!
          </p>
        </div>
        <div class="newdetail-info">
          <div class="newdetail-categories">
            Categories <a href="">Design</a>, <a href="">Event</a>
          </div>
          <div class="newdetail-tags">
            Tags: <a href="">#html</a>,<a href="">#html</a>
          </div>
        </div>
      </div>
    </div>
    <div class="trending">
      <div class="trending-title">Trending</div>
      <div class="trending-content">
        <div class="trending-number">01</div>
        <div class="trending-texts">
          <div class="trending-text-title">
            News Needs to Meet Its Audiences Where They Are
          </div>
          <div class="trending-content-writer">
            <span class="writer bold">Dave Rogers</span> in
            <span class="category bold">Food</span>
          </div>
          <div class="trending-news-timer">
            <div class="date">Jun 14</div>
            <i class="fa-solid fa-circle point"></i>
            <div class="read-time">3 min read</div>
            <i class="fa-solid fa-star timer-star"></i>
          </div>
        </div>
      </div>
      <div class="trending-content">
        <div class="trending-number">01</div>
        <div class="trending-texts">
          <div class="trending-text-title">
            News Needs to Meet Its Audiences Where They Are
          </div>
          <div class="trending-content-writer">
            <span class="writer bold">Dave Rogers</span> in
            <span class="category bold">Food</span>
          </div>
          <div class="trending-news-timer">
            <div class="date">Jun 14</div>
            <i class="fa-solid fa-circle point"></i>
            <div class="read-time">3 min read</div>
            <i class="fa-solid fa-star timer-star"></i>
          </div>
        </div>
      </div>
      <div class="trending-content">
        <div class="trending-number">01</div>
        <div class="trending-texts">
          <div class="trending-text-title">
            News Needs to Meet Its Audiences Where They Are
          </div>
          <div class="trending-content-writer">
            <span class="writer bold">Dave Rogers</span> in
            <span class="category bold">Food</span>
          </div>
          <div class="trending-news-timer">
            <div class="date">Jun 14</div>
            <i class="fa-solid fa-circle point"></i>
            <div class="read-time">3 min read</div>
            <i class="fa-solid fa-star timer-star"></i>
          </div>
        </div>
      </div>
      <div class="trending-see-all">
        <a href="">See All Trend ></a>
      </div>
    </div>
  </div>
  <div class="comments">
    <div class="comments-title">
      <span class="numofcomment">6</span> Comments
    </div>
    <div class="comment-list">
      <div class="comment">
        <div class="comment-image">
          <img src="" alt="" />
        </div>
        <div class="comment-content">
          <div class="commenter-name">Jean Doe</div>
          <div class="comment-date">JANUARY 9, 2018 AT 2:21PM</div>
          <div class="comment-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, cum?
            Veritatis quibusdam dolor incidunt voluptatum fuga beatae, atque
            error porro quia placeat assumenda neque facilis et iste voluptas
            dolore non?
          </div>
          <div class="comment-reply">Reply</div>
        </div>
      </div>
      <div class="comment">
        <div class="comment-image">
          <img src="" alt="" />
        </div>
        <div class="comment-content">
          <div class="commenter-name">Jean Doe</div>
          <div class="comment-date">JANUARY 9, 2018 AT 2:21PM</div>
          <div class="comment-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, cum?
            Veritatis quibusdam dolor incidunt voluptatum fuga beatae, atque
            error porro quia placeat assumenda neque facilis et iste voluptas
            dolore non?
          </div>
          <div class="comment-reply">Reply</div>
        </div>
      </div>
      <div class="comment subcomment">
        <div class="comment-image">
          <img src="" alt="" />
        </div>
        <div class="comment-content">
          <div class="commenter-name">Jean Doe</div>
          <div class="comment-date">JANUARY 9, 2018 AT 2:21PM</div>
          <div class="comment-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, cum?
            Veritatis quibusdam dolor incidunt voluptatum fuga beatae, atque
            error porro quia placeat assumenda neque facilis et iste voluptas
            dolore non?
          </div>
          <div class="comment-reply">Reply</div>
        </div>
      </div>
    </div>
  </div>
  <div class="post-comment">
    <form action="" class="post-comment-form">
      <label for="name">Name*</label>
      <input type="text" class="form-text-input" name="name" id="name" />
      <label for="email">Email*</label>
      <input type="email" class="form-text-input" name="email" id="email" />
      <label for="name">Website*</label>
      <input
        type="website"
        class="form-text-input"
        name="website"
        id="website"
      />
      <label for="message">Message*</label>
      <textarea name="message" id="message" cols="30" rows="10"></textarea>
      <button type="button " class="post-button">Post Comment</button>
    </form>
  </div>
  <div class="trending small-devices">
    <div class="trending-title">Trending</div>
    <div class="trending-content">
      <div class="trending-number">01</div>
      <div class="trending-texts">
        <div class="trending-text-title">
          News Needs to Meet Its Audiences Where They Are
        </div>
        <div class="trending-content-writer">
          <span class="writer bold">Dave Rogers</span> in
          <span class="category bold">Food</span>
        </div>
        <div class="trending-news-timer">
          <div class="date">Jun 14</div>
          <i class="fa-solid fa-circle point"></i>
          <div class="read-time">3 min read</div>
          <i class="fa-solid fa-star timer-star"></i>
        </div>
      </div>
    </div>
    <div class="trending-content">
      <div class="trending-number">01</div>
      <div class="trending-texts">
        <div class="trending-text-title">
          News Needs to Meet Its Audiences Where They Are
        </div>
        <div class="trending-content-writer">
          <span class="writer bold">Dave Rogers</span> in
          <span class="category bold">Food</span>
        </div>
        <div class="trending-news-timer">
          <div class="date">Jun 14</div>
          <i class="fa-solid fa-circle point"></i>
          <div class="read-time">3 min read</div>
          <i class="fa-solid fa-star timer-star"></i>
        </div>
      </div>
    </div>
    <div class="trending-content">
      <div class="trending-number">01</div>
      <div class="trending-texts">
        <div class="trending-text-title">
          News Needs to Meet Its Audiences Where They Are
        </div>
        <div class="trending-content-writer">
          <span class="writer bold">Dave Rogers</span> in
          <span class="category bold">Food</span>
        </div>
        <div class="trending-news-timer">
          <div class="date">Jun 14</div>
          <i class="fa-solid fa-circle point"></i>
          <div class="read-time">3 min read</div>
          <i class="fa-solid fa-star timer-star"></i>
        </div>
      </div>
    </div>
    <div class="trending-see-all">
      <a href="">See All Trend ></a>
    </div>
  </div>
</div>
