.detail-page {
  padding: 50px 6%;

  .newdetail-popular {
    display: flex;
    justify-content: space-between;

    .newdetail {
      width: 65%;
      height: 100%;

      .newdetail-image {
        width: 100%;
        height: 400px;
        background-color: red;
        margin-bottom: 50px;
      }

      .newdetail-content {
        .newdetail-title {
          font-size: 32px;
          margin: 20px 0;
        }

        .newdetail-writer {
          display: flex;
          align-items: center;
          margin: 20px 0;
        }

        .newdetail-writer-image {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: red;
          margin-right: 15px;
        }

        .newdetail-content-text {
          color: #b4b4b4;
        }

        .newdetail-info {
          display: flex;
          align-items: center;
          margin: 20px 0;

          .newdetail-categories {
            margin-right: 15px;
            a {
              color: var(--main-green);
            }
          }

          .newdetail-tags {
            a {
              color: var(--main-green);
            }
          }
        }

        .trending-news-timer {
          font-size: 13px;
          color: #b4b4b4;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .trending-news-timer {
          justify-content: flex-start;
        }

        .slider-news-timer i,
        .trending-news-timer i {
          margin: 0 5px;
        }

        .timer-star {
          font-size: 10px;
        }

        .point {
          font-size: 3px;
        }
      }
    }

    .trending {
      width: 20%;
      height: 550px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      overflow-y: hidden;
      position: relative;

      .trending-title {
        border-bottom: 1px solid var(--font-color);
        font-size: 20px;
        margin-bottom: 20px;
        display: inline-block;
      }

      .trending-see-all {
        font-size: 14px;
        color: var(--main-green);
        text-transform: uppercase;
        position: absolute;
        bottom: 10px;
        transition: all 0.3s ease;
        align-self: flex-start;

        &:hover {
          color: darken(green, 10%);
        }
      }

      .trending-content {
        display: flex;
        align-items: flex-start;
        width: 100%;
        margin-top: 20px;

        .trending-number {
          margin-top: -5px;
          margin-right: 10px;
          font-size: 30px;
          color: #ccc;
        }

        .trending-text-title {
          font-size: 18px;
        }

        .trending-texts {
          .trending-news-timer {
            font-size: 13px;
            color: #b4b4b4;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          .trending-news-timer {
            justify-content: flex-start;
          }

          .slider-news-timer i,
          .trending-news-timer i {
            margin: 0 5px;
          }

          .timer-star {
            font-size: 10px;
          }

          .point {
            font-size: 3px;
          }
        }
      }
    }
  }

  .comments {
    .comments-title {
      margin-bottom: 50px;
      display: inline-block;
      font-size: 20px;
      border-bottom: 1px solid var(--font-color);
    }

    .comment-list {
      display: flex;
      flex-direction: column;
      .comment {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 60%;
        margin-bottom: 25px;

        .comment-image {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background-color: red;
          margin-right: 15px;
        }

        &.subcomment {
          margin-left: 50px;
        }

        .comment-content {
          width: 85%;

          .commenter-name {
            font-size: 18px;
          }

          .comment-date {
            font-size: 13px;
            color: #b4b4b4;
          }

          .comment-text {
            font-size: 15px;
          }

          .comment-reply {
            padding: 5px 10px;
            background-color: #b4b4b4;
            text-transform: uppercase;
            display: inline-block;
            margin-top: 15px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
              background-color: #7a7a7a;
            }
          }
        }
      }
    }
  }

  .post-comment {
    .post-comment-form {
      background-color: var(--light-gray);
      display: flex;
      flex-direction: column;
      padding: 25px 75px;

      & input,
      & textarea {
        margin: 10px 0 20px;
        border: none;
        outline: none;
        padding: 7px 15px;
        font-size: 16px;
        border-radius: 25px;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #7a7a7a;
      }

      .post-button {
        display: inline-block;
        width: 180px;
        height: 55px;
        padding: 16px 20px;
        border-radius: 50px;
        color: #fff;
        background-color: var(--font-color);
        text-transform: uppercase;
        transition: all 0.3s ease;
        border: none;
        outline: none;

        &:hover {
          background-color: var(--main-green);
        }
      }
    }
  }

  .trending.small-devices {
    display: none;

    .trending-title {
      border-bottom: 1px solid var(--font-color);
      font-size: 20px;
      margin-bottom: 20px;
      display: inline-block;
    }

    .trending-see-all {
      font-size: 14px;
      color: var(--main-green);
      text-transform: uppercase;
      position: absolute;
      bottom: 10px;
      transition: all 0.3s ease;
      align-self: flex-start;

      &:hover {
        color: darken(green, 10%);
      }
    }

    .trending-content {
      display: flex;
      align-items: flex-start;
      width: 100%;
      margin-top: 20px;

      .trending-number {
        margin-top: -5px;
        margin-right: 10px;
        font-size: 30px;
        color: #ccc;
      }

      .trending-text-title {
        font-size: 18px;
      }

      .trending-texts {
        .trending-news-timer {
          font-size: 13px;
          color: #b4b4b4;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .trending-news-timer {
          justify-content: flex-start;
        }

        .slider-news-timer i,
        .trending-news-timer i {
          margin: 0 5px;
        }

        .timer-star {
          font-size: 10px;
        }

        .point {
          font-size: 3px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .newdetail-popular {
    .trending {
      display: none !important;
    }

    .newdetail {
      width: 100% !important;
    }
  }

  .comments {
    .comment {
      width: 100% !important;
    }
  }

  .post-comment {
    .post-comment-form {
      background-color: var(--light-gray);
      display: flex;
      flex-direction: column;
      padding: 15px;
    }
  }

  .trending.small-devices {
    display: block !important;
    margin: 40px 0;
    width: 100%;
    height: 450px;
    position: relative;
  }
}
