.main-footer {
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 6%;

  .left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .left-title {
      align-self: flex-start;
      font-size: 22px;
    }
  }

  .right-side {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .search-bar {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      flex-direction: column;

      .form-group {
        width: 50%;
        margin: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        label {
          width: 75px;
        }
        input,
        textarea {
          width: 100%;
          border-radius: 25px;
          padding: 10px 15px;
          outline: none;
          border: none;
          border-bottom: 1px solid #333;
        }
      }

      .search-icon {
        width: 40%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 25px;
        cursor: pointer;
        background-color: var(--font-color);
        color: var(--bg-color);
        outline: none;
        border: none;
        transition: background-color 0.3s ease;

        disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }

        &:hover {
          background-color: var(--main-green);
        }
      }
    }
  }
}

.copyright {
  margin-top: 50px;
  text-align: center;

  a {
    color: var(--main-green);
  }
}

@media (max-width: 768px) {
  .main-footer {
    flex-direction: column;

    .left-side {
      width: 100%;
      margin-top: 25px;
    }

    .right-side {
      width: 100%;

      .search-bar {
        .form-group {
          width: 100%;
        }

        .search-icon {
          width: calc(100% - 75px);
        }
      }
    }
  }
}
